*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #FFFF;
    font-family: Roboto;

}
header{
    border-bottom: #DDDDDD 1px solid;
    width: 100%;
}
.head_container{
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
a:hover{
    color: #4C5866;
}
a:active{
    color: #4C5866;
}
a:visited{
    color: #4C5866;
}
li{
    
    font-size: 20px;
    color: #4C5866;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 60px;
}
.main_container{
    width: 1290px;
    margin: 0 auto;
    display: flex;
}
.content_main{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 150px;
}
.btext{
    font-size: 60px;
    color: #4C5866;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}
.stext{
    color: #85859B;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
margin-bottom: 30px;
}
.button:visited{
    color: #7875FE;
}
.button:active{
    color: #7875FE;
}
.button{
    display: block;
    width: 255px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: #7875FE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 50px 20px 50px;
    border: 1px solid #7875FE;
}
.img_main{
    width: 50%;
}
.mainp2{
    background-color: #EBEBEB;
    padding-bottom: 90px;
    padding-top:90px;
}
.main_containerp2{
    width: 1290px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.containerV0{
    width: 100%;
    display: flex;
    margin-bottom: 90px;
}
.containerV1{
    width: 100%;
    display: flex;
}
.dV1{
    width: 33%;
    margin-right: 30px;
    display: flex;
    border-top: #C0C0C0 1px solid;

}
.dV1_1{
    display: flex;
    flex-direction: column;
}
.dV2{
    width: 33%;
    display: flex;
    border-top: #C0C0C0 1px solid;
}
.imgV{
    padding-right: 30px;
}
.mainp2_h2{
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
p{
    color: #85859B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.img_containerV1{
    width: 60%;
    
}
.content_containerV1{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-top:59px ;
    padding-bottom: 60px;
    
}
.containerV1_h2{
    color: #666;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding-bottom: 20px;
    width: 200px;
    
}
.p_v1{
    margin-bottom: 20px;
    width: 350px;
}
.mainp3{
    padding-top: 90px;
    padding-bottom: 90px;
}
.main_containerp3{

    width: 1290px;
    margin: 0 auto;
    display: flex;
}
.div_content1{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 25%;
}
.div_content1:last-child{
    margin-right: 0px;
}
.img_p3{
    margin-bottom: 20px;
}
.h2_p3{
    color: #666;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}
.smallp{
    color: #B5B5BD;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}
.p_p3{
    color: #85859B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    width: 255px;
    margin-bottom: 20px;
}
.a_p3:visited{
    color: #7875FE;
}
.a_p3:active{
    color: #7875FE;
}
.a_p3{
    color: #7875FE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.mainp4{
    background-color: #EBEBEB;
    padding-top: 90px;
    padding-bottom: 90px;
}
.main_containerp4{
    display: flex;
    width: 1290px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 29px 46px 29px;
    border: 1px solid #C4C4C4;
    margin-right: 30px;
    width: 25%;
}
.banner:last-child{
    margin-right: 0px;
}
.mainp5{

    padding-top: 90px;
}
.main_containerp5{
    display: flex;
    width: 1290px;
    margin: 0 auto;
}
.content_mainp5{
    width: 35%;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.h2_mainp5{
    color: #666;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
    padding-bottom: 8px;
    width: 299px;
}
.p_mainp5{
    width: 350px;
    color: #85859B;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 30px;
}
.img_mainp5{
    width: 65%;
}
.button_v2:visited{
    color: #7875FE;
}
.button_v2:active{
    color: #7875FE;
}
.button_v2{
    display: block;
    width: 255px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    color: #7875FE;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 50px 20px 50px;
    border: 1px solid #7875FE;
    margin-bottom: 114px;
}
footer{
    background-color: #4C5866;
}
.footer_container{
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 28px; 
}
.footer_last{
    background-color: #FFFFFF;
    text-align: center;
}